.grid-col {
   border: 1px solid black;
   height: 60px;
   font-weight: bold;
   padding-left: 10px;
   padding-top: 10px;
}

.grid-col-head {
   background-color: lightgray;
   font-weight: bold;
}

.profile-head {
   border: none;
   font-weight: bold;
   width: 15% !important;
}

.profile-tail {
   border: none;
   width: 85% !important;
   height: auto;
   min-height: 60px;
}

div.ui-slider-stopAlarm { 
   width: 100% !important;
}  
