.mesg-box {
   background-color:#fff9ea;
   border: solid 1px #bac6d3;
   padding: 0 1em;
}

.disable-font {
   color: #999 !important;
}

a#go-top {
   width: 49px;
   height: 35px;
   text-decoration: none;
   opacity: 0.9;
   background:url(/images/sprite.png) no-repeat 0 -424px;
}

a#go-top:hover {
   background-position:-49px -424px;   
}

