<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/jquery.mobile-1.4.3/jquery.mobile-1.4.3.min.css">
    <link rel="stylesheet" href="/css/glance.css">
    <link rel="stylesheet" href="/css/jquery.swipeButton.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, initial-scale=1.0,">
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/lib/jquery.mobile-1.4.3.min.js"></script>
    <script src="/javascripts/lib/jquery.md5.min.js"></script>

    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/glance.js"></script>
</head>

<body>
<div data-role="page" id="pageGlance" data-dom-cache="true" data-footer="static/footer.html">
  <div data-role="header" data-position="fixed" data-theme="b" data-fullscreen="true">
    <h1>浏览报警</h1>
    <a href="/logout" data-role="button" data-icon="back" class="ui-btn-right">注销</a>
  </div>

  <div data-role="content">
    <div id="Welcome" style="background-color:#fff9ea; margin-top:-15px; border-bottom: solid 1px #bac6d3; " >
      <div id="container" style="padding-top:20px;">
         <div style="width:33%; display:inline-block;"> </div>
         <div style="width:33%; display:inline-block; text-align:center;">
             <img src="/images/Logo.png" style="width:36px; height:36px">
         </div>
         <div style="width:30%; text-align:right; display:inline-block;">
           <span style="float:right; padding-right:5px; font-weight:700;" > 欢迎 [% user %] </span>
         </div>
      </div>
    </div>

    <div style="margin: 10px">
       <div class="mesg-box" style="display:none"></div>

       <ul id="mainList" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="搜索" data-split-theme="a">
     [% FOREACH msgGroup IN mesgGroup %]
           <li name="[% msgGroup.name %]" data-icon="false">
               <a href="/mesgDetail?type=new&id=[% msgGroup.name %]" class='message-link' data-transition="flip">[% msgGroup.name %]</a>
               <span class='ui-li-count'>[% msgGroup.count %]</span>
               <!-- <a href="#" class="status-icon" data-icon="alert"></a> --!>
           </li>
     [% END %]
       </ul>

    </div>
  </div>

</div>

</body>
</html>

